build
results/*.json
*.out
*.dump
*.beam
*.tasty
*.class
*.jar
*.json
*.o
*.exe
*.hi
*.txt
count
java/
kotlin/
scala/
scripts/summary.md
CMD
VERSION
STATS
SIZE
CYCLES
rss.txt
GPATH
GRTAGS
GTAGS
bin/
obj/
out/
*.csproj
